<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gsund">

    <!--Internet Permission-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.db.Gsund"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.menumakan.DetailMakanan"></activity>
        <activity android:name=".ui.menumakan.KumpulanMakan" />
        <activity android:name=".ui.menumakan.MenuMakan" />
        <activity android:name=".ui.profile_progress.ProgressProfileActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.registrasi.RegisterActivity" />
        <activity android:name=".ui.intro.Intro" />
        <activity android:name=".ui.splashscreen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
    </application>

</manifest>