<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gsund">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".data.db.Gsund"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.progress.ProgressMakanActivity"></activity>
        <activity android:name=".ui.progress.ProgressActivity" />
        <activity
            android:name=".ui.profile.UbahData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.timer.TimerOlahraga"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.DetailData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.KumpulanData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.registrasi.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.tips.TipsActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>